{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 3 versions"]
      }
    }]
  ],
  "ignore": [
    "node_modules/*",
    "public/assets/*"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-flow-comments",
  ]
}
